<div class="col-sm-4" ng-controller="veiculoController">
	<fieldset>
		<legend class="text-center">Cadastro do Veiculo</legend>
		<div class="form-group">
			<label for="nome">Placa: </label>
			<input type="text" id="placa" ng-model="veiculo.placa" class="form-control"></input>
			<label for="nome">Chassi: </label>
			<input type="text" id="chassi" ng-model="veiculo.chassi" class="form-control"></input>
			<label for="nome">Renavam: </label>
			<input type="text" id="renavam" ng-model="veiculo.renavam" class="form-control"></input>
		</div>
		<div class="btn-group">
			<input class="btn btn-primary btn-sm" type="button" value="Salvar" ng-click="salvarVeiculo()"></input>
			<input class="btn btn-primary btn-sm" type="button" value="Cancelar" ng-click="cancelar()"></input>
		</div>
	</fieldset>
	<div style="padding-top:50px;">
		<fieldset>
			<legend class="text-center">Lista de Veiculos</legend>
			<div class="table-responsive">
				<table class="table">
				  <tr ng-repeat="veic in veiculos">
				    <td><label>{{veic.placa}}</label></td>
<!-- 						<td> -->
<!-- 							<div class="btn-group"> -->
<!-- 						    	<input class="btn btn-primary btn-sm" type="button" value="Alterar" ng-click="alterarCliente(cli)"></input> -->
<!-- 								<input class="btn btn-primary btn-sm" type="button" value="Remover" ng-click="removerCliente(cli)"></input> -->
<!-- 							</div> -->
<!-- 						</td> -->
				  </tr>
				</table>
			</div>
		</fieldset>
	</div>
</div>